<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Plan" asp-action="Index">Diary App</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Create new @ViewData["Type"]</h1> 
            <hr />

            <div style="margin-bottom: 30px">
                <a asp-controller="Reminder" asp-action="Create">Reminder</a> |
                <a asp-controller="Case" asp-action="Create">Case</a> |
                <a asp-controller="Meeting" asp-action="Create">Meeting</a>
            </div>
            @RenderBody()
        </main>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.Year &copy; Blinov V.A. All Rights Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
