@model Diary_MVC_2._0.Models.Plan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_LayoutCreatePage.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
